.nopadding{
    padding-left: 0;
    padding-right: 0;
}

.ChatPage-grid-container-1{
    height: 100vh;
    display: grid;
    grid-template-rows: auto auto;
    box-shadow: 0 0 10px gray;
}

.ChatPage-grid-item-1-2{
    align-self: end;
}

.topbar{
    position: sticky;
    top: 0;
}

#scroll{
    overflow-y: scroll
}
#scroll::-webkit-scrollbar {
    display: none;
}



.nav-color{
    display: grid;
    justify-content: start;
    grid-template-columns: auto auto;
    background-color: #c40d20;
    height: 70px
}
.nav-text{
    color: white;
    font-size: 1.5em;
    margin-left: 3px;
}

.nav-color img{
    margin-top: 3px;
    height: 20px;
}

.nav-color img:hover{
    height: 23px;
}
.nav-color img:hover + .nav-text{
    margin-left: 0;
}

.ChatPage-input-bg{
    background-color: #c40d20;
}

