.ChatMessage-container.MessagePicture{
    justify-items: start;
    grid-template-columns: 50px auto;
}

.MessagePicture .img-bg{
    justify-self: center;
    align-self: start;
    border-radius: 50%;
    padding: 10px;
    width: fit-content;
    height: fit-content;
}
.ChatMessage-container.MessagePicture img{
    height: 40px;
}

.MessagePicture .message{
    background-color: #cccccc;
    border-top-left-radius: 0;
}




