.nopadding{
    padding-left: 0;
    padding-right: 0;
}

.ChatPage-grid-container-1{
    height: 100vh;
    display: grid;
    grid-template-rows: auto auto;

}

.ChatPage-grid-item-1-2{
    align-self: end;
}

.topbar{
    position: sticky;
    top: 0;
}

#scroll{
    overflow-y: scroll
}
#scroll::-webkit-scrollbar {
    display: none;
}



.nav-color{
    background-color: #008dff;
}
.nav-text{
    color: white;
}

.ChatPage-input-bg{
    background-color: #008dff;
}

