.nopadding{
    padding-left: 0;
    padding-right: 0;
}

.ChatPage-grid-container{
    background-color: red;
    height: 100vh;
    display: grid;
    grid-template-rows: auto auto;

}

.ChatPage-grid-item-1{
    overflow-y: scroll
}
.ChatPage-grid-item-1::-webkit-scrollbar {
    display: none;
}
.ChatPage-grid-item-2{
    border-style: dashed;
    align-self: end;
}