.nopadding{
    padding-left: 0;
    padding-right: 0;
}

.ChatPage-grid-container{

    height: 100vh;
    display: grid;
    grid-template-rows: auto auto;

}

#scroll{
    overflow-y: scroll
}
#scroll::-webkit-scrollbar {
    display: none;
}
.ChatPage-grid-item-2{
    height: 50px;
    align-self: end;
}
.nav-color{
    background-color: #008dff;
}
.nav-text{
    color: white;
}

.ChatPage-input-bg{
    background-color: #008dff;
}
