.ChoiceList-container{
    margin: 5px
}
.ChoiceList-container button{
    border-radius: 25px;
    border-style: none;
    margin: 2px;
    box-shadow: 0 2px #666;
}

.ChoiceList-container button:hover{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
}
.ChoiceList-container button:active{
    transform: translateY(1px);
}
