.InputField-container{
    display: grid;
    grid-template-columns: auto 40px;

}
.InputField-container form{
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;

}

.InputField-container input{
    width: 100%;
    border-radius: 20px;
    border-style: none;
    height: 36px;
    font-size: 1.2em;
    padding: 0px 10px;
}

.InputField-container input:focus{
    outline: none;
}

.InputField-container img{
    border-radius: 20px;
    align-self: center;
    justify-self: end;
    box-shadow: 0 2px #666;
    height: 36px;
}
.InputField-container img:hover{
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.9);

}
.InputField-container img:active{
    transform: translateY(1px);
}