.MessageBubble .message{
    border-top-left-radius: 0;
}

.MessageBubble.MOSES .message{
    background-color: #cd9dff;
}

.MessageBubble.MENTOR .message{
    background-color: #ffc162;
}

.MessageBubble.SEK .message{
    background-color: #b7ffb0;
}
.MessageBubble.CHATU .message{
    background-color: #C92536;
    color: white;
}

