.ChatMessage-container.MessageClassic{
}

.MessageClassic .message{
    background-color: white;
    border-top-left-radius: 0;
}

.MessageClassic.MOSES b{
    color: #ff547a;
}
.MessageClassic.ISIS b{
    color: #f9ff54
}
.MessageClassic.SEK b{
    color: #54f1ff;
}



