.ChatMessage-container.MessagePicture{
    justify-items: start;
    grid-template-columns: 50px auto;
}

.MessagePicture .img-bg{
    background-color: lightblue;
    border-radius: 50%;
    padding: 10px;
    width: fit-content;
    height: fit-content;
}

.MessagePicture .message{
    background-color: white;
    border-top-left-radius: 0;
}

.MessagePicture.MOSES .img-bg{
    background-color: #ff547a;
}
.MessagePicture.ISIS .img-bg{
    background-color: #f9ff54;
}
.MessagePicture.SEK .img-bg{
    background-color: #54f1ff;
}


