.ChatMessage-container {
    display: grid;
    margin: 5px 5px 0px 5px;
}
    /*justify-items: end*/


.ChatMessage-container .message{
    margin-left: 5px;
    padding: 3px 5px;
    border-radius: 10px;
    border-style: none;

    max-width: 70%;
    width: fit-content;

    display: grid;
}

.ChatMessage-container b{
    font-size: 0.8em;
}

.ChatMessage-container .content{
    font-size: 1em;
}
.ChatMessage-container .date{
    font-size: 0.8em;
    justify-self: end;
}

