.ChatMessage-container.MessageClassic{
}

.MessageClassic .message{
    background-color: #cccccc;
    border-top-left-radius: 0;
}

.MessageClassic.MOSES b{
    color: #a856ff;
}
.MessageClassic.ISIS b{
    color: #34a4de;
}
.MessageClassic.SEK b{
    color: #3d9633;
}



