.ChatMessage-container.MessageClassic{
}

.MessageClassic .message{
    background-color: #e7e7e7;
    border-top-left-radius: 0;
}

.MessageClassic.MOSES b{
    color: #a856ff;
}
.MessageClassic.MENTOR b{
    color: #34a4de;
}
.MessageClassic.SEK b{
    color: #3d9633;
}
.MessageClassic.CHATU b{
    color: #c40d20;
}



